<div class="col-md-6">
   
    <form>
        <div class="form-group">
            <label for="oznakaZajednice">Oznaka Zajednice</label>
            <input type="text" class="form-control" id="oznakaZajednice" ng-model="id">
        </div>
        <div class="form-group">
            <label for="BrojUlica">Broj Ulica</label>
            <input type="number" class="form-control" id="brojUlica" >
        </div>
        <div class="form-group">
            <label for="Uzimljena">Uzimljena</label>
            <input type="text" class="form-control" id="Uzimljena">
        </div>
        <div class="form-group">
            <label for="Opis">Opis</label>
            <textarea class="form-control" id="Opis" rows="5"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-success btn-sm" data-dismiss="modal" />
        </div>


    </form>
   

</div>