

<div class="col-md-6">

    <div class="panel panel-default">

           <div class="panel-heading">Prikaz Pcelinjih Zajednica</div>


        <table st-table="pcelinjaci" st-safe-src="pzajednice" class="table table-striped">
            <thead>
                <tr>
                    <th>Oznaka</th>
                    <th>Opis</th>
                    <th>Uzmiljena</th>
                    <th>Test</th>
                </tr>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="Global search..." type="text" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zajednica in vm.pzajednice">
                    <td>{{zajednica.oznakaZajednice}}</td>
                    <td>{{zajednica.uzmiljena}}</td>
                    <td>{{zajednica.opis}}</td>
                    <td>{{zajednica.idZajednice}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" ng-click="removeItem(row)" class="btn btn-md btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button type="button" ng-click="removeItem(row)" class="btn btn-md btn-warning">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <a ui-sref="zajedniceDetails({id:zajednica.oznakaZajednice})" ng-click="" class="btn btn-md btn-info">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        
    </div>


</div>


<div class="col-md-3">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#novaZajednica">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
    <!-- Modal noviPcelinjak-->
    <div id="novaZajednica" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Novi Pcelinjak</strong></h4>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <label for="oznakaZajednice">Oznaka Zajednice</label>
                            <input type="text" class="form-control" id="oznakaZajednice" ng-model="id">
                        </div>
                        <div class="form-group">
                            <label for="BrojUlica">Broj Ulica</label>
                            <input type="number" class="form-control" id="brojUlica">
                        </div>
                        <div class="form-group">
                            <label for="Uzimljena">Uzimljena</label>
                            <input type="text" class="form-control" id="Uzimljena">
                        </div>
                        <div class="form-group">
                            <label for="Opis">Opis</label>
                            <textarea class="form-control" id="Opis" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-success btn-sm" data-dismiss="modal" />
                        </div>


                    </form>





                </div>
                <!--<div class="modal-footer">


                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>
</div>